.git

*docker-compose*
Dockerfile

node_modules

/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.DS_Store
npm-debug.log
.byebug_history

/app/assets/javascripts/bundle.js
/app/assets/javascripts/bundle.js.map

/config/master.key